version: '3.8'

services:
  server:
    build: .
    container_name: note_server
    working_dir: /app/build
    volumes:
      - .:/app
      - /app/build
      - ./server_data:/app/build/server_data
    ports:
      - "8080:8080"
    # Build toàn bộ (Server, Client, Tests) và chạy Server
    command: bash -c "rm -rf CMakeFiles CMakeCache.txt && cmake .. && make && ./server_app"
    stdin_open: true
    tty: true

  client:
    build: .
    container_name: note_client
    working_dir: /app/build
    volumes:
      - .:/app
      - /app/build
      - ./client_data:/app/build/client_data
    depends_on:
      - server
    # Client build xong sẽ ở trạng thái chờ
    command: bash -c "rm -rf CMakeFiles CMakeCache.txt && cmake .. && make && tail -f /dev/null"
    stdin_open: true
    tty: true